@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap'); 
body {padding: 0px;margin: 0px;box-sizing: border-box;font-family: 'Montserrat', sans-serif !important; background: rgb(240, 241, 242);}
a {text-decoration: none;}
.css-1633um2-MuiPaper-root {font-family: 'Montserrat', sans-serif !important;}
.p-50 {padding: 50px 0px;}
.header {border-top: 5px solid #1976d2;display: inline-block;width: 100%;box-shadow: 0 2px 28px 0 rgba(0,0,0,.06);background: #fff;transition: all 1s ease 0s;    z-index: 2;
    position: relative;}
.header.fix-header {position: sticky;top: 0px;box-shadow: 0 0 10px 0 #ccc;z-index: 9;}
.bound {max-width: 1240px;margin: 0px auto;width: 100%;}
.topsec {display: flex;justify-content: space-between;padding: 15px 0px;align-items: center;}
.logo a {display: inline-block;width: 100%;}.logo img {height: 60px;}
.menu a {color: #000;}
.banner-box {margin-bottom: 20px; display: flex;justify-content: center;align-items: center;}

.left-sec {background: rgb(255, 255, 255);margin-bottom: 24px;position: relative;box-sizing: border-box;}
.title-box {border-bottom: 1px solid rgb(206, 211, 217);padding: 32px 40px;box-sizing: border-box;position: -webkit-sticky;position: sticky;top: -1px;background: #fff;z-index: 9;}
.title-box h2 {margin: 0px 0px 20px;}
button.blue-btn,.blue-btn {background: #1976d2;color: #fff;width: auto;padding: 8px 30px;border: 1px solid #1976d2;font-size: 20px;text-transform: uppercase;margin: 10px 0;display: inline-block;}
button.blue-btn:hover,.blue-btn:hover {color: #1976d2;}
.content-box {padding: 32px 40px;box-sizing: border-box;}
.c-box-1 {display: flex;margin-bottom: 21px;width: 100%;justify-content: space-between;font-weight: 500;line-height: 30px;}
.c-box-1 svg {float: left; margin-right: 10px; position: relative;top: 3px;}
.other-info > div {margin-bottom: 5px;}
.c-box-2 h3 {margin: 20px 0px 10px;}
.c-box-2 p,.c-box-2 li {font-size: 15px;line-height: 26px;text-align: justify;font-weight: 400;}
.c-box-2 li {margin-bottom: 10px;}

.right-sce {padding: 40px 24px;background: #fff;}
.right-sce {padding: 40px 24px;background: #fff;}
.arenesss-logo img {width: 80%;}
.right-sce p {font-size: 14px;line-height: 22px;text-align: justify;font-weight: 500;}

.form-sce {display: inline-block;width: 100%;}
.form-box {box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px, rgba(0, 0, 0, 0.16) 0px 4px 16px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box; padding: 24px 40px;background: #ededed;}
.back-link {color: #1976d2; text-decoration: underline;}
.prog-bar {/*position: -webkit-sticky;position: sticky;*/ top: -1px;background: #fff;z-index: 9;padding: 10px 0px 50px;background: #ededed;}
.Mui-completed svg, .Mui-completed > span {color: green !important; border-color:  green !important;}
.prog-bar .MuiStepLabel-alternativeLabel { font-family: 'Montserrat', sans-serif !important;font-weight: 500;}
form.top-form {padding-bottom: 100px;min-height: 450px;padding-top: 10px;}
form.top-form label,.checkbox-row legend { font-weight: 600;color: #000 !important;}
form.top-form input,form.top-form label,form.top-form .MuiOutlinedInput-root,.MuiMenu-list li {font-family: 'Montserrat', sans-serif !important;}
.bottom-form {border-top: 1px solid #ccc;display: flex;justify-content: space-between;align-items: center;position: fixed;bottom: 0px;background: #fff;max-width: 1160px;z-index: 9;background: #ededed;}
.form-sce {background: url(../src//images/main-banner.mp4) no-repeat center; background-size: cover;background-attachment: fixed;}
.form-sce.sucess {background: none;}
form.top-form .checkbox-row {display: flex;flex-direction: inherit;align-items: center;}
.checkbox-row legend,.checkbox-row label span {font-family: 'Montserrat', sans-serif !important;}
.checkbox-row label {margin-left: 20px;}
form.top-form .checkbox-row label,.checkbox-row legend {display: inline-block;}
.question-row  legend { font-weight: 500;color: #000 !important;font-family: 'Montserrat', sans-serif !important;}

.eduction {margin-bottom: 20px;}
.edu-class {display: flex;justify-content: space-between;}
.class-box {width: 30%;background: none;display: flex;align-items: center;margin-bottom: 10px;}
.class-box:first-child {width: 8%;}
.p-details .class-box {width: 33%;}
form.top-form .class-box label {font-weight: 400; font-size: 14px;}
.data-sce {padding: 40px 0px;}
.data-table tr:nth-child(even) {background-color: rgb(241, 241, 241);}
.data-sce table.data-table td {padding:8px 16px;white-space: nowrap;font-family: 'Montserrat', sans-serif !important;}
.data-sce table.data-table th {background: #528fcb;color: #fff;text-transform: capitalize;line-height: 20px;white-space: nowrap;font-family: 'Montserrat', sans-serif !important;}
a.dawn-csv {float: right;display: inline-flex;margin-bottom: 15px;}
.data-sce table.data-table td a {text-decoration: none;color: #528fcb;cursor: pointer;}

form.top-form input, form.top-form .MuiOutlinedInput-root {background: #fff;border-radius: 4px;}
form.top-form .checkbox-row .MuiOutlinedInput-root {background: none;}
.background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

/* Test Css */
.test-checkbox legend,.test-checkbox label span {font-family: 'Montserrat', sans-serif !important;}
.test-checkbox legend {margin-bottom: 10px;font-weight: 500;color: #000 !important;}.test-checkbox label span {font-size: 14px;}
.four-op {display: flex;justify-content: space-between;padding-left: 15px;}
.four-op ul {padding-left: 20px;margin: 0px;width: 45%;}
ul.op-row li {list-style: lower-roman;}
.four-op li {min-height: 40px;margin-bottom: 10px;}
ul.ans-row li {list-style: upper-alpha;}
form.top-form .test-checkbox label {padding-left: 15px;}
.timmer {float: right;}
.timmer strong {font-weight: 600; font-size: 24px;}
.terms-cond {margin: 0px auto;width: 100%; max-width: 520px;line-height: 30px;margin-bottom: 20px;}
.form-sce.sucess .form-box {min-height: 500px;}



.footer {text-align: center;padding: 100px 0px 20px;font-size: 12px;color: #000;}
.social-icon a {display: inline-block;padding: 0px 10px;color: #ccc;}
.copyright {border-top: 1px solid #ccc;display: inline-block;padding: 10px 0px 0px;margin-top: 20px;}